---
---

@import "{{ site.theme }}";

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}

// icons
img {
	height: 30px;
	width: 30px;
	margin: 1em;
}

.wrapper {
	text-align: center;
}

.btn.default {
	border: 1px solid rgba(59, 59, 59, 0.5);
	background-color: rgba(34, 34, 34, 0);
	color: rgba(255, 255, 255, 0.5);
	padding: 12px 24px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 10px;
	transition: 250ms;
	float: right;
	margin: 0.5em;
}

.btn.default:hover {
	border: 1px solid rgba(59, 59, 59, 0);
	color: rgba(255, 255, 255, 1);
	background: rgba(34, 34, 34, 1);
}

#button-container {
	margin: 0.5em 1em 0 1em;
	padding: 1em 2em 0 2em;
}

#typing-container {
	height: 3em;
	margin-bottom: 2em;
}

#about {
	transition: 2s;
	opacity: 0;
}

.highlighter-rouge {
	transition: 2s;
	opacity: 0;
}

// title
section #title h1 {
	font-size: 3em;
	font-weight: 500;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}